{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static "static/css/style.css" %}">
  </head>
  <body>
    <div class="card">
      <form method="POST">
        {% csrf_token %}
        <div class="search">
          <input
            type="text"
            placeholder="enter city name"
            spellcheck="false"
            name="city"
          />
          <button type="submit">
            <img src="static/img/search.png" alt="" />
          </button>
        </div>
      </form>
      <div class="weather">
        <img src="static/img/rain.png" class="weather-icon" />
        <br />
        <h4>{{day}}</h4>
        <h1 class="temp">{{temp}}°C</h1>
        <h2 class="city">{{city}}</h2>
        <div class="details">
          <div class="col">
            <img src="static/img/humidity.png" />
            <div>
              <p class="humidity">{{humidity}}%</p>
              <p>Humidity</p>
            </div>
          </div>

          <div class="col">
            <img src="static/img/wind.png" />
            <div>
              <p class="wind">{{wind}} km/h</p>
              <p>Wind Speed</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
